PySide6
numpy
rich
scipy
pyqtgraph
pandas

# Custom added packages
git+https://github.com/agentsmith29/fstools.confighandler.git
git+https://github.com/agentsmith29/fstools.fswidgets.git
git+https://github.com/agentsmith29/fs.captdevicecontrol.git@develop
git+https://github.com/agentsmith29/fs.lasercontrol.git
git+https://gitlab.tugraz.at/flexsensor-public/mcpy.git@develop

#../tools/confighandler
#../captdevicecontrol
#../lasercontrol
#../mcpy
#../tools/fswidgets