PySide6
numpy
rich
scipy
pyqtgraph
pandas

# Custom added packages
git+https://gitlab.tugraz.at/flexsensor-public/modules/confighandler.git@develop
git+https://gitlab.tugraz.at/flexsensor-public/modules/fswidgets.git@develop
git+https://gitlab.tugraz.at/flexsensor-public/captdevicecontrol.git@develop
git+https://gitlab.tugraz.at/flexsensor-public/lasercontrol.git@develop
#git+https://gitlab.tugraz.at/flexsensor-public/mcpy.git@develop

#../tools/confighandler
#../captdevicecontrol
#../lasercontrol
../mcpy
#../tools/fswidgets