PySide6
numpy
rich
scipy
pyqtgraph
pandas

# Custom added packages
#git+https://gitlab.tugraz.at/flexsensor-public/confighandler.git@develop
../confighandler

#git+https://gitlab.tugraz.at/flexsensor-public/captdevicecontrol.git@develop
../captdevicecontrol

#git+https://gitlab.tugraz.at/flexsensor-public/lasercontrol.git@develop
../lasercontrol

#git+https://gitlab.tugraz.at/flexsensor-public/mcpy.git@develop
../mcpy

#git+https://gitlab.tugraz.at/flexsensor-public/fswidgets.git@develop
../fswidgets